future-friends/node_modules/.bin/mime
future-friends/node_modules/.bin/mime.ps1
future-friends/node_modules/.bin/mime.cmd
future-friends/node_modules/.bin/mkdirp
future-friends/node_modules/.bin/semver
future-friends/node_modules/@socket.io/component-emitter/lib/esm/index.d.ts
future-friends/node_modules/@socket.io/component-emitter/lib/cjs/package.json
future-friends/node_modules/@socket.io/component-emitter/package.json
future-friends/node_modules/.package-lock.json
future-friends/node_modules/xtend/package.json
