#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Global Typography */
body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f8f9fa;
  line-height: 1.5;
}

/* Paragraph Styles */
p {
  line-height: 1.2;
  /* Adjust to your preference */
  margin: 0;
  padding: 0;
}

/* Global Links */
a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Utility Classes */
.text-center {
  text-align: center;
}

/* Existing Styles from your original index.css */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center the elements horizontally */
  padding: 1rem 0;
}

.logo {
  height: 3em;
  /* Smaller height */
  padding: 0.5em;
  /* Smaller padding */
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.title {
  font-size: 2em;
  /* Adjust the font size as needed */
  font-weight: bold;
  margin-bottom: 0.5em;
  /* Space between title and logo */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}